{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<title>Django Blog</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/user/dashboard">Django Group Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/user/dashboard">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/blog/blog_form">New Post</a>
            <a class="nav-item nav-link" href="/user/{{logged_user.id}}">Profile</a>
            <a class="nav-item nav-link" href="/user/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="content-section">
      <div class="col-md-8">
        {% for post in allPosts %}
        <a href="/blog/{{post.id}}">{{post.title}}</a> {{post.content}} {{post.user_post.first_name}}
        {% endfor %}
      </div>
    </div>
  </main>
  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
    <div class="text-center py-3">© Information Here
      <a href="#!"> Yourwebsite.com</a>
    </div>
  </footer>
  
      




 